body, html {
    font-size: 18px;
    line-height: 34px;
    font-family: 'Heebo', sans-serif;
    color: black;
    height: 100%;
    width: 100%;
    display: grid;
    margin: auto;
  }

  .jumbotron {
    width: auto;
    height: 600px;
    padding: 0px;
  }

.jumbo-text {
  font-size: 10px;
  color: whitesmoke;
}

  .jumbo-img {
    background: url("./images/laptop-websize.jpg") no-repeat fixed center;
    /* position: absolute;
    top: 0px; */
  }
  
  .top-nav,
  .navbar-brand,
  .fixed-bottom {
    float: right;
    color: darkslategrey;
    font-size: 16px;
  }

  a {
    color: darkslategrey;
    font-size: 16px;
  }

  form, 
  h5, 
  .btn {
    margin-left: 100px;
  }
